
<section> 
<h1 class="display-4 fw-normal pageHeader">Tickets</h1>
<form class="form-inline searchForm" action="/tickets" method="POST">
  <div class="col-auto form-group">
      <input class="form-control" type="text" id="searchTickets" name="searchTickets" placeholder="Search Tickets" value="{{query}}">
      <label class="visually-hidden-focusable" for="searchTickets">Search Tickets:</label>
  </div>
  <input class="btn btn-primary searchBtn" type="submit" id="subBtn" value="Search">
</form>
<br>
<table class="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
        <th>Ticket Name</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Created</th>
        <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
  {{#each tickets}}
    <tr style="transform: rotate(0);">
        <td><a href= "/tickets/view/{{this._id}}" class="stretched-link link-clean">{{this.name}}</a></td>
        <td>{{this.status}}</td>
        <td>{{this.priority}}</td>
        <td>{{this.createdOn}}</td>
        <td>{{this.deadline}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</section> 