
<section> 
<h1 class="display-4 fw-normal pageHeader">Users</h1>
<form class="form-inline searchForm" action="/users" method="POST">
  <div class="col-auto form-group">
      <input class="form-control" type="text" id="searchUsers" name="searchUsers" placeholder="Search Users" value={{query}}>
      <label class="visually-hidden-focusable" for="searchUsers">Search Users:</label>
  </div>
  <input class="btn btn-primary searchBtn" type="submit" id="subBtn" value="Search">
</form>
<br>
<table class="table table-hover table-bordered">
  <thead class="table-light">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
  {{#each users}}
    <tr style="transform: rotate(0);">
        <td><a href= "/users/view/{{this._id}}" class="stretched-link link-clean">{{this.username}}</a></td>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        <td>{{this.title}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</section>