<section>
  <h1 class="display-4 fw-normal pageHeader">{{name}}</h1>
  <p class="lead info">Status: {{status}}</p>
  <p class="lead info">Priority: {{priority}}</p>
  <p class="lead info">Category: {{category}}</p>
  <div>
    <p class="lead info ">Customer:
      <a class="badge link-clean text-bg-primary rounded-pill"
        href="/users/view/{{customer._id}}">{{customer.firstName}} {{customer.lastName}}</a>
    </p>
  </div>
  <p class="lead info">Owners:</p>
  <ul>
    {{#each owner}}
    <li class="badge text-bg-primary rounded-pill"><a class="pageLink-light"
        href="/users/view/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></li>
    {{/each}}
  </ul>
  <p class="lead info">Created: {{created}}</p>
  <p class="lead info">Deadline: {{deadline}}</p>
  <p class="lead info">Tags:</p>
  <ul>
    {{#each tag}}
    <li class="badge text-bg-primary rounded-pill">{{this}}</li>
    {{/each}}
  </ul>
  <div class="bg-light">
    <p class="lead description info">{{description}}</p>
  </div>
  <div>
    <div class="add-comment">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#commentModal">
        Add Comment
    </button>
    </div>

    <p>
      {{#each comments}}
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold author">Author: {{this.createdBy}}</div>
          {{this.content}}
        </div>
        <span class="material-symbols-outlined replyicon">reply_all</span>
        {{#if this.allowDelete}}
        <button class="deleteCommentBtn" id="deleteCommentBtn" value="{{this._id}}"><span class="material-symbols-outlined deleteicon"> delete
          </span></button>
          {{/if}}
        <span class="badge text-bg-light rounded-pill">{{this.commentedOn}}</span>
      </li>
      {{#each this.allReplies}}
      <li class="list-group-item d-flex justify-content-between align-items-start reply">
        <div class="ms-2 me-auto">
          <div class="fw-bold author">- Author: {{this.createdBy}}</div>
          &nbsp;&nbsp;{{this.content}}
        </div>
        {{#if this.allowDelete}}
        <span class="material-symbols-outlined deleteicon"> delete </span>
         {{/if}}
        <span class="badge text-bg-light rounded-pill">{{this.commentedOn}}</span>
      </li>
      {{/each}}
    </ol>

    {{/each}}
  </div>

</section>


{{!-- code for modal taken from https://getbootstrap.com/docs/5.2/components/modal/ --}}

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commentModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="error-div" class="error-div" hidden></div>
      <form method="POST" action="/comments/{{ticketId}}" class="comment-form" id="comment-form">
      <div class="modal-body">
          <div class="mb-3">
            <input id="tickedIDInput" type="text" name="tickedIDInput" value={{ticketId}} hidden>
            <label for="contentInput" class="form-label">Comment:</label>
            <textarea id="contentInput" type="text" name="contentInput" placeholder="Enter your comment"
              class="form-control" rows="3"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button class="btn btn-primary"type="submit" value="Submit">Submit</button>
        {{!-- <button type="button" class="btn btn-primary" onclick="postComment('{{ticketId}}')">Save changes</button> --}}
      </div>
      </form>
    </div>
  </div>
</div>