<h1>{{name}}</h1>
<p>Status: {{status}}</p>
<p>Priority: {{priority}}</p>
<p>Category: {{category}}</p>
<a href= "/users/{{customer._id}}">Customer: {{customer.firstName}} {{customer.lastName}}</a>
<p>Owners:</p>
<ul>
  {{#each owner}}
    <li><a href= "/users/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></li>
  {{/each}}
</ul>
<p>Created: {{created}}</p>
<p>Deadline: {{deadline}}</p>
<p>Tickets:</p>
<ul>
  {{#each tag}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{description}}</p>